@use "vars" as *;

// --------------------------------------------
// Respond-to and hoverability
// --------------------------------------------

@mixin respond-to($mq) {
  @media all and #{$mq} {
    @content;
  }
}

@mixin can-hover {
  @media (hover: hover) {
    @content;
  }
}

@mixin abs-fill {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
}

// --------------------------------------------
// Logos, icons, etc
// --------------------------------------------

@mixin logo($color, $width) {
  background-image: url('data:image/svg+xml;utf8,<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 32 32" xml:space="preserve" fill="#{svgColorMaker($color)}" stroke="#{svgColorMaker($color)}" stroke-width="#{$width}px"><path vector-effect="non-scaling-stroke" d="M11.003,12.875l6.606-6.598-2.051-2.048L4,15.772h10.455l-9.963,9.95,2.052,2.048,14.915-14.895h-10.455ZM10.672,27.761h17.328V10.455L10.672,27.761ZM17.676,24.863l7.424-7.415v7.415h-7.424Z"/></svg>');
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: contain;
}

@mixin mail-icon($color, $width) {
  background-image: url('data:image/svg+xml;utf8,<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 32 32" xml:space="preserve" fill="none" stroke="#{svgColorMaker($color)}" stroke-width="#{$width}px" stroke-linecap="round"><path vector-effect="non-scaling-stroke" d="M27.314,7l-11.314,11.314L4.686,7M27.314,7H4.686v18h22.627V7Z"/></svg>');
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: contain;
}

@mixin down-arrow($color, $width) {
  background-image: url('data:image/svg+xml;utf8,<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 32 32" xml:space="preserve" fill="none" stroke="#{svgColorMaker($color)}" stroke-width="#{$width}px"><path vector-effect="non-scaling-stroke" d="M27.314,10.343l-11.314,11.314L4.686,10.343"/></svg>');
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: contain;
}

@mixin linkedin($color) {
  background-image: url('data:image/svg+xml;utf8,<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 16 16" xml:space="preserve" fill="#{svgColorMaker($color)}"><path d="M.263,5.317h3.317v10.668H.263V5.317ZM1.922.014C2.982.014,3.843.876,3.843,1.938s-.862,1.922-1.922,1.922-1.922-.862-1.922-1.922S.859.014,1.922.014M5.66,5.317h3.18v1.459h.045c.443-.839,1.525-1.723,3.137-1.723,3.358,0,3.977,2.209,3.977,5.081v5.851h-3.314v-5.188c0-1.238-.022-2.829-1.723-2.829-1.726,0-1.989,1.349-1.989,2.74v5.277h-3.314V5.317Z"/></svg>');
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: contain;
}

@mixin instagram($color) {
  background-image: url('data:image/svg+xml;utf8,<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 16 16" xml:space="preserve" fill="#{svgColorMaker($color)}"><path d="M15.952,4.701c-.039-.851-.174-1.433-.372-1.942-.201-.534-.516-1.017-.923-1.417-.399-.407-.883-.722-1.417-.923-.509-.198-1.09-.333-1.942-.371-.853-.039-1.126-.048-3.298-.048s-2.445.009-3.298.048c-.851.039-1.433.174-1.942.372-.534.201-1.018.516-1.417.923-.407.399-.722.883-.923,1.417-.198.509-.333,1.09-.371,1.942-.039.853-.048,1.126-.048,3.298s.009,2.445.048,3.298c.039.851.174,1.433.372,1.942.201.534.516,1.017.923,1.417.399.407.883.722,1.417.923.509.198,1.09.333,1.942.372.853.039,1.126.048,3.298.048s2.445-.009,3.298-.048c.851-.039,1.433-.174,1.942-.372,1.075-.415,1.924-1.265,2.34-2.339.198-.509.333-1.09.372-1.942.039-.853.048-1.126.048-3.298s-.009-2.446-.048-3.299ZM14.512,11.232c-.035.78-.166,1.203-.275,1.485-.269.698-.821,1.249-1.518,1.518-.282.11-.706.24-1.485.275-.843.038-1.096.047-3.232.047s-2.389-.008-3.232-.047c-.78-.035-1.203-.166-1.485-.275-.348-.128-.662-.333-.92-.598-.266-.258-.47-.572-.598-.92-.11-.282-.24-.705-.275-1.485-.038-.843-.047-1.096-.047-3.232s.008-2.389.047-3.232c.034-.781.164-1.204.274-1.486.128-.348.333-.662.598-.92.258-.266.573-.47.92-.598.282-.11.706-.24,1.485-.275.843-.038,1.096-.046,3.232-.046h0c2.136,0,2.389.008,3.232.047.78.035,1.203.166,1.485.275.348.128.662.333.92.598.266.258.47.573.598.92.11.282.24.705.275,1.485.038.843.047,1.096.047,3.232s-.007,2.389-.046,3.232ZM8,3.892c-2.269,0-4.108,1.839-4.108,4.107s1.839,4.108,4.108,4.108,4.108-1.839,4.108-4.108-1.839-4.107-4.108-4.107ZM8,10.666c-1.472,0-2.666-1.194-2.666-2.667s1.194-2.667,2.667-2.667,2.667,1.194,2.667,2.667-1.194,2.667-2.667,2.667ZM13.23,3.73c0,.53-.43.96-.96.96s-.96-.43-.96-.96.43-.96.96-.96.96.43.96.96Z"/></svg>');
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: contain;
}
