:root {
  --scrollbar-width: 0px;
}

html, body {
  width: 100%;
  height: 100%;
}

body {
  color: $white;
  background-color: $black;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  overflow: hidden;

  &::selection {
    background: $yellow;
    color: $black;
  }

  &::-moz-selection {
    background: $yellow;
    color: $black;
  }

  #__nuxt {
    height: 100%;
  }
}

.gray {
  color: $gray;
}

// --------------------------------------------
// Page
// --------------------------------------------

.page {
  position: relative;
  overflow: auto;
  height: 100%;
  -ms-overflow-style: none;
  scrollbar-width: none;
  -webkit-overflow-scrolling: touch;

  &::-webkit-scrollbar {
    display: none;
  }

  &.snap {
    scroll-snap-type: y mandatory;
    scroll-behavior: smooth;
  }
}

// --------------------------------------------
// Links
// --------------------------------------------

a {
  color: inherit;
  text-decoration: none;
  outline: 0;
}

// --------------------------------------------
// Margins + Paddings
// --------------------------------------------

.gutter {
  margin: 0 $space-16 0 0;

  @include respond-to($tablet) {
    margin: 0 $space-48;
  }

  @include respond-to($macbook) {
    margin: 0 $space-64;
  }
}

.pad-t {
  padding-top: $space-32;

  @include respond-to($tablet) {
    padding-top: $space-48;
  }

  @include respond-to($macbook) {
    padding-top: $space-64;
  }
}

.pad-b {
  padding-bottom: $space-32;

  @include respond-to($tablet) {
    padding-bottom: $space-48;
  }

  @include respond-to($macbook) {
    padding-bottom: $space-64;
  }
}

// --------------------------------------------
// Button
// --------------------------------------------

button {
  margin: 0;
  padding: 0;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  text-transform: inherit;
  background: none;
  border: none;
  border-radius: 0;
  outline: 0;
  appearance: none;
}
