:root {
  --scrollbar-width: 0px;
}

html, body {
  width: 100%;
  height: 100%;
}

body {
  color: $white;
  background-color: $black;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  overflow: hidden;

  &::selection {
    background: $yellow;
    color: $black;
  }

  &::-moz-selection {
    background: $yellow;
    color: $black;
  }

  #__nuxt {
    position: relative;
    height: 100%;
    isolation: isolate;
    overflow: visible;
  }
}

.gray {
  color: $gray;
}

// --------------------------------------------
// Page
// --------------------------------------------

.page {
  position: relative;
}

.page-enter-active,
.page-leave-active {
  backface-visibility: hidden;
  will-change: opacity, transform;
}

.home-page {
  z-index: 1;
}

.work-detail-page {
  z-index: 2;
}

// --------------------------------------------
// Page Transitions
// --------------------------------------------

.page-enter-active.home-page,
.page-leave-active.home-page {
  transition: opacity $speed-666 $evil-ease, transform $speed-666 $evil-ease;
}

.page-enter-from.home-page,
.page-leave-to.home-page {
  opacity: 0;
  transform: scale(0.9);
}

.page-enter-to.home-page,
.page-leave-from.home-page {
  opacity: 1;
  transform: scale(1.0);
}

.page-enter-active.work-detail-page {
  transition: opacity $speed-666 $evil-ease, transform $speed-666 $evil-ease;
}

.page-leave-active.work-detail-page {
  transition: opacity $speed-666 $evil-ease $speed-666, transform $speed-666 $evil-ease $speed-666;
}

.page-enter-from.work-detail-page,
.page-leave-to.work-detail-page {
  opacity: 0;
  transform: translateX($space-64);

  @include respond-to($tablet) {
    transform: translateX($space-96);
  }
}

.page-enter-to.work-detail-page,
.page-leave-from.work-detail-page {
  opacity: 1;
  transform: translateX(0px);

  @include respond-to($tablet) {
    transform: translateX(0px);
  }
}

// --------------------------------------------
// Links
// --------------------------------------------

a {
  color: inherit;
  text-decoration: none;
  outline: 0;
}

// --------------------------------------------
// Margins + Paddings
// --------------------------------------------

.gutter {
  margin: 0 20px 0 0;

  @include respond-to($tablet) {
    margin: 0 $space-32;
  }
}

.pad-t {
  padding-top: $space-32;

  @include respond-to($tablet) {
    padding-top: $space-48;
  }
}

.pad-b {
  padding-bottom: $space-32;

  @include respond-to($tablet) {
    padding-bottom: $space-48;
  }
}

// --------------------------------------------
// Button
// --------------------------------------------

button {
  margin: 0;
  padding: 0;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  text-transform: inherit;
  background: none;
  border: none;
  border-radius: 0;
  outline: 0;
  appearance: none;
}
