@use "sass:math";

@function strip-unit($value) {
  @return math.div($value, $value * 0 + 1);
}

@mixin fluid-type($min-vw, $max-vw, $min-font-size, $max-font-size) {
  $u1: unit($min-vw);
  $u2: unit($max-vw);
  $u3: unit($min-font-size);
  $u4: unit($max-font-size);

  @if $u1 == $u2 and $u1 == $u3 and $u1 == $u4 {
    & {
      font-size: $min-font-size;

      @media screen and (min-width: $min-vw) {
        font-size: calc(#{$min-font-size} + #{strip-unit($max-font-size - $min-font-size)} * ((100vw - #{$min-vw}) / #{strip-unit($max-vw - $min-vw)}) );
      }

      @media screen and (min-width: $max-vw) {
        font-size: $max-font-size;
      }
    }
  }
}

$min: 320px;
$max: 1440px;

h1, h2, h3, h4, h5, h6 {
  font-weight: 400;
  letter-spacing: -0.03em;
}

body {
  font-family: $lexend;
  font-weight: 400;
  @include fluid-type($min, $max, 12px, 20px);
  line-height: 1.4em;
  letter-spacing: -0.01em;
}

.fs-sm {
  @include fluid-type($min, $max, 10px, 14px);
  line-height: 1.1em;

  &#line-0 {
    font-family: Courier, monospace;
    line-height: 1em;
    font-weight: bold;
  }
}

.h1 {
  font-family: $lexend;
  @include fluid-type($min, $max, 24px, 96px);
  font-weight: 400;
  line-height: 1.4em;
  text-shadow: 0px 0px 20px rgba(255, 255, 255, 0.16);
  background-image: linear-gradient(0deg,rgba(200, 200, 200, 1) 0%, rgba(255, 255, 255, 1) 66%);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

.h2 {
  font-family: $lexend;
  @include fluid-type($min, $max, 20px, 64px);
  font-weight: 400;
  line-height: 1.4em;
  text-shadow: 0px 0px 20px rgba(255, 255, 255, 0.16);
  background-image: linear-gradient(0deg,rgba(200, 200, 200, 1) 0%, rgba(255, 255, 255, 1) 66%);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

.h3 {
  @include fluid-type($min, $max, 16px, 32px);
  line-height: 1.4em;
}

.h3-lg {
  @include fluid-type($min, $max, 24px, 56px);
  line-height: 1.5em;
}
